aiohttp==3.7.2
arrow==0.17.0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
discord==1.0.1
discord-timers==0.1.0
discord-webhook==0.11.0
discord.py==1.6.0
icalendar==4.0.7
ics==0.7
idna==2.10
multidict==5.0.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.24.0
six==1.15.0
TatSu==5.5.0
urllib3==1.25.11
yarl==1.6.2
